body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.stopwatch-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 50px;
    align-items: center;
}
p {
    font-size: 22px;
    align-items: center;
}
.stopwatch {
    text-align: center;
    background: #fff;
    border-radius: 50%;
    width: 350px; /* Aumentado el tamaño del círculo */
    height: 350px; /* Aumentado el tamaño del círculo */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 15px rgba(24, 78, 215, 0.385);
    }
    50% {
        box-shadow: 0 0 25px rgba(18, 60, 165, 0.385);
    }
    100% {
        box-shadow: 0 0 15px rgba(13, 45, 125, 0.385);
    }
}

#display {
    font-size: 31px; /* Aumentado el tamaño del texto */
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px; /* Aumentado el tamaño del texto del botón */
    width: 100px; /* Aumentado el tamaño del botón */
    height: 100px; /* Aumentado el tamaño del botón */
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: background 0.3s;
}

#startPause {
    background: #007bff; /* Color azul */
}

#reset {
    background: #dc3545; /* Color rojo */
}

#startPause:hover {
    background: #0056b3;
}

#reset:hover {
    background: #c82333;
}

#startPause:active {
    background: #003d7a;
}

#reset:active {
    background: #a71d2a;
}

#startPause, #reset {
    transition: background 0.3s, transform 0.2s;
}

#startPause:hover, #reset:hover {
    transform: scale(1.1);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 5%;
    font-size: 14px;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
}

footer p {
    margin: 0;
}
